<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="http://www.custom.com">{:lang('1')}</a></li>
    <li><a href="http://en.custom.com">{:lang('2')}</a></li>
    <li><a href="http://es.custom.com">{:lang('3')}</a></li>
    <li><a href="http://py.custom.com">{:lang('4')}</a></li>
    <li><a href="http://ru.custom.com">{:lang('5')}</a></li>
    <li><a href="http://fr.custom.com">{:lang('6')}</a></li>
    <li><a href="http://ja.custom.com">{:lang('7')}</a></li>
    <li><a href="http://ko.custom.com">{:lang('8')}</a></li>
    <li><a href="http://de.custom.com">{:lang('9')}</a></li>
</ul>
</body>
</html>